<!DOCTYPE html>
<html>
<head>
  <title>${album.title.plainText} by ${album.nickname} - Photos</title>
  #if($mobile)
    <meta name="viewport" content="width=650, user-scalable=no, minimal-ui">
  #end
  <meta name="description" content="${album.title.plainText} by ${album.nickname}: ${album.description.plainText}">
  <meta name="keywords" content="${album.nickname.replace(' ', ',')},photos,${album.title.plainText.replace(' ', ',')},${album.description.plainText.replace(', ', ' ').replace(' ', ',')}">

  #if(!$photo)
    <meta name="medium" content="image">
    <meta property="og:type" content="photos:album">
    <meta property="og:title" content="${album.title.plainText} by ${album.nickname}">
    <meta property="og:image" content="${album.icon}">
    <link rel="image_src" href="${album.icon}">
    #if($album.geoLocation)
      <meta property="og:latitude" content="${album.geoLocation.latitude}">
      <meta property="og:longitude" content="${album.geoLocation.longitude}">
    #end
  #else
    <meta name="medium" content="image">
    <meta property="og:type" content="photos:photo">
    #if($photo.description.plainText.length() > 0)
      <meta property="og:title" content="${photo.description.plainText}">
    #else
      <meta property="og:title" content="${album.title.plainText}">
    #end
    <meta property="og:image" content="${photo.mediaThumbnails[0].url}">
    #if($photo.geoLocation)
      <meta property="og:latitude" content="${photo.geoLocation.latitude}">
      <meta property="og:longitude" content="${photo.geoLocation.longitude}">
    #end
  #end
  <meta property="og:description" content="${album.description.plainText}">
  <meta property="og:site_name" content="${album.nickname} Photography">

  #parse('head.vm')
  <script type="text/javascript">
    var viewer = new PhotoViewer();
    $(function() {
      viewer.setup();
      #if($photo)
        $('a#${photo.gphotoId}').click();
      #else
        if (location.hash == '#slideshow') $('a.photo').eq(0).click();
      #end
    });
  </script>
</head>

<body style="background:black; color: gray">

<div id="header" class="header">
  <a href="/${picasa.urlSuffix}" class="button fade">More albums</a>

  <form id="search"><input></form>
  <h1 id="title">
    ${album.title.plainText}
    <small>by ${album.nickname}</small>
  </h1>
</div>

<div id="content">
  <h1>${album.title.plainText}</h1>

  <h2>${album.description.plainText}</h2>
  #if($album.access != 'private')
    <iframe class="facebook-button" scrolling="no" frameborder="0" allowtransparency="true"
            src="http://www.facebook.com/plugins/like.php?layout=button_count&action=like&width=90&height=20&colorscheme=dark&href=http://${host}/${album.name}${picasa.urlSuffix}">
    </iframe>
  #end
  <br>

  <div class="thumbs clear">
    #foreach($photo in $album.photoEntries)
      #set($media = ${photo.mediaContents[0]})
      <a id="${photo.gphotoId}" href="${media.url}" class="photo"
         data-href="/${album.name}/${photo.gphotoId}${picasa.urlSuffix}"
         rel="${media.width}x${media.height}"
         onclick="return false;"
         #if($photo.timestamp)data-time="${helper.formatDateTime($photo.timestamp)}"#end
         #if($photo.geoLocation)data-coords="${photo.geoLocation.latitude}:${photo.geoLocation.longitude}"#end
         #if($photo.exifTags.exifTags.size() > 1)data-exif="${photo.exifTags.apetureFNumber}:${photo.exifTags.exposureTime}:${photo.exifTags.isoEquivalent}:${photo.exifTags.focalLength}"#end>
        <img src="${photo.mediaThumbnails[0].url}" title="${photo.description.plainText}">
        <span class="description">${photo.description.plainText}</span>
      </a>
    #end
  </div>

</div>

<div id="photo-wrapper">
  <div class="title-wrapper">
    <div class="title"></div>
  </div>
  <div id="photo-map"></div>
  <table id="photo-exif">
    <tr>
      <td id="time" colspan="2"></td>
    </tr>
    <tr>
      <td id="aperture"></td>
      <td id="iso"></td>
    </tr>
    <tr>
      <td id="shutter"></td>
      <td id="focal"></td>
    </tr>
  </table>
  <div id="photo-comments">
    #foreach($comment in $comments)
      <div class="comment photo-${comment.photoId} hidden">
        #set($author = $comment.authors[0])
        <img src="${helper.getCommentThumbnail($author)}">
        #set($username = $helper.getCommentUsername($author))
        #if(!$bot)
          <a target="_blank" href="/#if($album.username != $username)?by=${username}#end">
              ${author.name}
          </a>
        #end
        <br>${comment.textContent.content.plainText}
      </div>
    #end
  </div>
  <div id="photo-controls" class="visible">
    <div class="header clearfix">
      <a class="button first" onclick="viewer.close()">Close</a>
      <a class="button" id="slideshow" href="#slideshow">Slideshow</a>
      <a class="button" id="dec-interval">-</a>
      <span class="left"><span id="interval">5</span> sec</span>
      <a class="button" id="inc-interval">+</a>
      <span class="left" id="time-remaining"></span>

      <h1><span id="photo-controls-title">${album.title.plainText}</span>
        <small id="position"></small>
      </h1>
    </div>
  </div>
</div>

</body>
</html>
