<div class="load-time hidden">$albumPart.photos.size() loaded at $albumPart.loadedAt</div>

#foreach($photo in $albumPart.photos)
  <a id="${photo.id}" class="photo" href="/${album.name}/${photo.id}" data-url="${photo.baseUrl}"
     #if($photo.timestamp)data-time="${photo.dateTime}"#end
     #if($photo.geo)data-coords="${photo.geo.lat}:${photo.geo.lon}"#end
     #if($photo.exif)data-exif="${photo.exif}"#end>
    <img #if($bot)src="${photo.thumbUrl}"#end
         #if(!$photo.description.empty)alt="${photo.description}"#end>
  </a>
#end

<script>
  viewer.addPhotos()
  #if($albumPart.nextPageToken)
    $.get(location.pathname + (location.search ? location.search + '&' : '?') + 'pageToken=${albumPart.nextPageToken}').then(function(html) {
      $('.thumbs').append(html)
      thumbsView.loadVisibleThumbs()
    })
  #else
    thumbsView.loadingFinished = true
  #end
</script>
