<!DOCTYPE html>
<html>
<head>
  <title>${album.title} by ${album.author} - Photos</title>
  <meta name="description" content="${album.title} photos by ${album.author}: ${album.description}">

  #if($mobile)
    <link rel="apple-touch-icon" href="${album.thumbUrl}">
  #end

  <link rel="shortcut icon" href="${album.thumbUrl}" type="image/jpeg">

  <meta name="medium" content="image">
  <meta property="og:title" content="${album.title} photos by ${album.author}">
  <meta property="og:image" content="${album.thumbUrlLarge}">
  <link rel="image_src" href="${album.thumbUrlLarge}">
  #if($album.geo)
    <meta property="og:latitude" content="${album.geo.lat}">
    <meta property="og:longitude" content="${album.geo.lon}">
  #end
  <meta property="og:description" content="${album.description}">
  <meta property="og:site_name" content="${album.author} Photography">

  #parse('head.vm')
  <script>
    var viewer = new PhotoViewer();
    $(function() {
      viewer.setup();
      if (location.hash == '#slideshow') $('a.photo').eq(0).click();
      else if (location.hash) $('a' + location.hash).click();
    });
  </script>
</head>

<body style="background:black; color: gray">

<div id="header" class="header">
  <a href="/${picasa.urlSuffix}" class="button fade">More albums</a>

  <form id="search"><input></form>
  <h1 id="title">
    ${album.title}
    <small>by ${album.author}</small>
  </h1>
</div>

<div id="content" class="faded">
  #if($album.content)
    <div id="album-long-content" class="#if(!$bot)closed#end">
      ${album.content}
    </div>
    <script>
      $('#album-long-content')
          .on('mousedown', function(e) {
            $(this).data('time', new Date())
          })
          .on('mouseup', function() {
            if (new Date() - $(this).data('time') < 300)
              $(this).toggleClass('closed');
          });
    </script>
  #elseif(!$album.description.empty)
    <h1>${album.title}</h1>
    <h2>${album.description}</h2>
  #end
  <br>

  <div class="thumbs clear">
    #foreach($photo in $album.photos)
      <a id="${photo.id}" class="photo" href="${photo.url}" data-href="#${photo.id}"
         #if($photo.timestamp)data-time="${photo.dateTime}"#end
         #if($photo.geo)data-coords="${photo.geo.lat}:${photo.geo.lon}"#end
         #if($photo.exif.fstop)data-exif="${photo.exif.fstop}:${photo.exif.exposure}:${photo.exif.iso}:${photo.exif.focal}"#end>
        <img data-src="${photo.thumbUrl}" #if(!$photo.description.empty)alt="${photo.description}"#end>
      </a>
    #end
  </div>

  <p id="footer">
    Photos by <a href="https://plus.google.com/${album.authorId}/about" rel="author" target="_blank">${album.author}</a>. All rights reserved.
    <br>
    Rendered by <a href="https://github.com/angryziber/picasa-gallery">Picasa Gallery</a>.
  </p>
</div>

<div id="photo-wrapper">
  <div class="loader"></div>
  <div class="title-wrapper">
    <div class="title"></div>
  </div>
  <div id="photo-map"></div>
  <table id="photo-exif">
    <tr>
      <td id="time" colspan="2"></td>
    </tr>
    <tr>
      <td id="aperture"></td>
      <td id="iso"></td>
    </tr>
    <tr>
      <td id="shutter"></td>
      <td id="focal"></td>
    </tr>
  </table>
  <div id="photo-comments">
    #foreach($comment in $album.comments)
      <div class="comment photo-${comment.photoId} hidden">
        <img src="${comment.avatarUrl}">
        <a target="_blank" href="/#if($album.authorId != $comment.authorId)?by=${comment.authorId}#end" rel="nofollow">
            ${comment.author}
        </a>
        <br>${comment.text}
      </div>
    #end
  </div>
  <div id="photo-controls" class="visible">
    <div class="header clearfix">
      <a class="button first" id="close" onclick="viewer.close()">Close</a>
      <a class="button" id="slideshow" href="#slideshow">Slideshow</a>
      <a class="button" id="dec-interval">-</a>
      <span class="left"><span id="interval">5</span> <span id="sec">sec</span></span>
      <a class="button" id="inc-interval">+</a>
      <span class="left" id="time-remaining"></span>

      <h1><span id="photo-controls-title">${album.title}</span>
        <small id="position"></small>
      </h1>
    </div>
  </div>
</div>

#if($album.public)
  #parse('sharing.vm')
#end

<script>new ThumbsView(${album.thumbSize})</script>

</body>
</html>
