<!DOCTYPE html>
<html>
<head>
  <title>${profile.name} Photography</title>
  <meta name="description" content="${profile.name} photo albums from around the World">
  <meta property="og:title" content="${profile.name} Photography">
  <meta property="og:image" content="${gallery.albums.values().iterator().next().thumbUrlLarge}">
  <meta property="og:site_name" content="${profile.name} Photography">
  #parse('head.vm')
  <script src="/js/gallery.js?${startTime}"></script>
  <script>$(initAlbumFilter);</script>
  <script>$(GalleryMap)</script>
</head>

<body style="background:black; color: gray">

<div id="header" class="header">
  <form id="search"><input type="text" placeholder="Filter or Search" title="Type to filter albums or press enter to search for individual photos"></form>
  <h1 id="title">${profile.name} Photography</h1>
</div>

<div id="content" class="faded">
  <div id="map"></div>
  <div class="albums thumbs">
    #foreach($album in $gallery.albums.values())
      <a id="${album.name}" class="fade" href="/${album.name}${picasa.urlSuffix}"
         #if(${album.geo})data-coords="${album.geo.lat}:${album.geo.lon}"#end
         data-url="${album.baseUrl}">
        <img alt="${album.title} photos" title="${album.description}">

        <div class="title">
          <span class="info">${album.size()}</span>
          <span class="text">${album.title}</span>
        </div>
      </a>
    #end
  </div>

  <p id="footer">
    Photos by <a href="https://plus.google.com/${profile.id}" rel="author" target="_blank">${profile.name}</a>. All rights reserved.
    <a href="?random${picasa.urlSuffix.replace('?', '&')}" rel="nofollow">Random photo</a>.
    <br>
    Rendered by <a href="https://github.com/angryziber/picasa-gallery">Picasa Gallery</a>.
    View your <a href="/oauth" rel="nofollow">own gallery</a>.
  </p>
</div>

#parse('sharing.vm')

<script>new ThumbsView(212)</script>

</body>
</html>