<meta property="og:url" content="http://${host}${servletPath}">
<meta property="fb:admins" content="${picasa.user}"/>

<meta name="mobile-web-app-capable" content="yes">
<meta name="theme-color" content="#313131">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">

<link rel="stylesheet" type="text/css" href="/reset.css">
<link rel="stylesheet" type="text/css" href="/gallery.css?v2">
<link rel="shortcut icon" href="/img/picasa-logo.png">
<link rel="apple-touch-icon" href="/img/picasa-logo.png"/>

<script src="//code.jquery.com/jquery-1.12.1.min.js"></script>
<script src="/gallery.js?v4"></script>
<script src="/prefixfree.min.js"></script>
#if(!$bot)
<script defer src="/chromecast.js"></script>
<script defer src="//maps.google.com/maps/api/js?key=${picasa.mapsKey}"></script>
#end

<script type="text/javascript">
  #if($picasa.analytics)
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', '${picasa.analytics}', 'auto');
    ga('send', 'pageview');
  #end
</script>
