<html>
<head>
  <title>${photo.description} by ${album.author}</title>
  <meta name="medium" content="image">
  <meta property="og:type" content="photos:album">
  <meta property="og:title" content="${photo.description} by ${album.author}">
  <meta property="og:image" content="${photo.thumbUrlLarge}">
  <link rel="image_src" href="${photo.thumbUrlLarge}">
</head>
<body style="background:black; color: gray">
  <a href="${redirectUrl}">
    <h1>Redirecting to photo in gallery...</h1>
    <br>
    <img src="${photo.thumbnailUrlLarge}">
  </a>
</body>
<script>location.href = '${redirectUrl}'</script>
</html>