<urlset xmlns="http://www.google.com/schemas/sitemap/0.9">
  <url>
    <loc>http://${host}/</loc>
    <lastmod>${gallery.timestampISO}</lastmod>
    <changefreq>weekly</changefreq>
    <priority>1</priority>
  </url>
  #foreach($album in $gallery.albums)
    <url>
      <loc>http://${host}/${album.name}</loc>
      <lastmod>${album.timestampISO}</lastmod>
      <changefreq>monthly</changefreq>
      <priority>0.8</priority>
    </url>
  #end
</urlset>
