html {
    background: #000;
}

body {
  font-family: luxi sans, trebuchet ms, sans-serif;
  color: #888;
  background: #000;
  overflow-y: scroll;
}

a {
    text-decoration: none;
}

#header {
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100%;
  padding: 10px;
  font-size: 14px;
  color: white;
  text-shadow: 1px 0 black;
  background: #313131 url(/img/header-bg.gif) top left repeat-x;
  text-align: center;
  opacity: 0.9;
  filter: alpha(opacity=90);
  margin-left: -20px;
  border-bottom: 1px solid black;
}

#header h1 {
  font-size: 20px;
  color: white;
  font-weight: bold;
}

#header h1 .by {
    font-weight: normal;
    font-size: 16px;
}

#header .button {
    position: absolute;
    top: 8px;
    left: 60px;
    padding: 4px 10px;
}

#header .button.right {
    right: 20px;
    left: auto;
}

#header #search input {
    position: absolute;
    top: 6px;
    right: 50px;
    width: 120px;
    padding: 3px 20px 3px 6px;
    border: 1px solid #313131;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -moz-box-shadow: 0 1px 2px rgba(255,255,255,0.7), inset 0 1px 2px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 1px 2px rgba(255,255,255,0.7), inset 0 1px 2px rgba(0,0,0,0.6);
    box-shadow: 0 1px 2px rgba(255,255,255,0.7), inset 0 1px 2px rgba(0,0,0,0.6);
    background: white url(/img/search-icon.png) right 1px no-repeat;
}

#header #search input:focus {
    outline: none;
}

#header .button:active {
    top: 9px;
}

#header .button img {
    position: relative;
    height: 16px;
    margin: -2px 3px -3px 0;
}

#content {
    display: none; /* will fade in */
    width: 100%;
    margin: 60px auto;
}

.clear {
    clear: both;
}

#content h1 {
    color: white;
    font-size: 24px;
}

#content h2 {
    margin-top: 4px;
}

ul.albums, ul.thumbs {
    list-style: none;
}

ul.albums li, ul.thumbs li {
    float: left;
    margin: 0 10px 10px 0;
    position: relative;
}

ul.albums li img, ul.thumbs li img {
    border: 3px solid #313131;
}

ul.albums li {
    height: 218px; /* for FF */
}

ul.albums li img {
    width: 212px;
    height: 212px;
}

ul.thumbs li img {
    width: 144px;
    height: 144px;
    text-align: center;
}

ul.albums li:hover img, ul.thumbs li:hover img {
    border-color: #616161;
}

ul.albums li .title {
    position: absolute;
    top: 192px;
    left: 3px;
    padding: 4px 4px 0 3px;
    color: white;
    background-color: black;
    background-color: rgba(0,0,0,0.5);
    filter: alpha(opacity=80);
    width: 205px;
    min-width: 205px;
    height: 19px;
    overflow: hidden;
    white-space: nowrap;
    text-shadow: 1px 1px black;
    -webkit-transition: 2s ease-out;
    -moz-transition: 2s ease-out;
    transition: 2s ease-out;
}

ul.albums li:hover .title {
    overflow: visible;
    width: auto;
    z-index: 9;
    background-color: rgba(0,0,0,0.8);
    -webkit-transition: 500ms ease-out;
    -moz-transition: 500ms ease-out;
    transition: 500ms ease-out;
}

ul.albums li .title > .info {
    color: gray;
    float: right;
    margin-left: 3px;
    width: auto;
    display: none;
}

ul.albums li:hover .title > .info {
    display: block;
}

#facebook-button, #facebook-album-button {
    overflow: hidden;
    width: 90px;
    height: 20px;
    position: absolute;
    top: 60px;
    right: 10px
}

#photo-wrapper #facebook-button {
    top: 10px;
    right: 10px
}

#map {
    float: right;
    width: 440px;
    height: 440px;
    margin: 0 10px 10px 0;
    border: 3px solid #313131;
}

#photo-wrapper {
    display: none;
    background: black;
    background: rgba(0,0,0,0.9);
    position: absolute;
    position: fixed;
    z-index: 666;
}

#photo-wrapper img {
    position: absolute;
    border: 2px solid #313131;
}

#photo-wrapper .title {
    position: absolute;
    bottom: 20px;
    z-index: 777;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    color: white;
    text-shadow: 1px 1px 1px black;
    background: rgba(0,0,0,0.3)
}

#photo-map {
    position:absolute;
    width: 200px;
    height: 150px;
    right: 0;
    bottom: 0;
    background: transparent;
}

#footer {
    clear: both;
    padding-top: 20px;
    text-align: center;
    color: #666;
}

#footer a {
    color: #aaa;
}

.button {
    position: relative;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    border: 1px solid #666;
    background-color: #666;
    background-color: rgba(128, 128, 128, 0.75);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 90%, from(rgba(4, 4, 4, 10.9)), to(rgba(92, 92, 92, 1)));
    background-image: -moz-linear-gradient(top, rgba(4, 4, 4, 0.9), rgba(92, 92, 92, 1));
    -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 4px, rgba(0, 0, 0, 0.6) 0px -2px 6px;
    -moz-box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 4px, rgba(0, 0, 0, 0.6) 0px -2px 6px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 4px, rgba(0, 0, 0, 0.6) 0px -2px 6px;
}
.button:hover {
    background-image: -webkit-gradient(linear, 0% 0%, 0% 90%, from(rgba(4, 4, 4, 10.9)), to(rgb(164, 164, 164)));
    background-image: -moz-linear-gradient(top, rgba(4, 4, 4, 0.9), rgb(164, 164, 164));
}
.button:active {
    box-shadow: none;
}
.button span {
    position: absolute;
    display: block;
    width: 100%;
    left: 0;
    top: 0;
    height: 50%;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.25);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255, 255, 255, 0.8)), to(rgba(255, 255, 255, 0)));
    background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0));
}
